<!DOCTYPE html>
<html>

{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!-- Heading -->
<div class="container-fluid">

<div class="sidebar-heading">
    Company change:
</div>

<ul class="sidebar-dark accordion no-arrow" id="abc">
    <li style="font-size:30px" class="nav-item">
        <a class="collapsed" href="#" data-toggle="collapse" data-target="#companyName"
           aria-expanded="true" aria-controls="companyName">
            <i class="fas fa-fw fa-cog"></i>
            <span style="color:gray">Company Name</span>
        </a>
        <div id="companyName" class="collapse" aria-labelledby="headingTwo" data-parent="#abc">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="a.html">Change company name</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - shares change Collapse Menu -->
    <li style="font-size:30px" class="nav-item">
        <a class="collapsed" href="#" data-toggle="collapse" data-target="#sharesChange"
           aria-expanded="true" aria-controls="sharesChange">
            <i class="fas fa-fw fa-wrench"></i>
            <span style="color:gray">Shares Change</span>
        </a>
        <div id="sharesChange" class="collapse" aria-labelledby="a"
             data-parent="#abc">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item d-flex" href="{{ url_for('fillingForm.home') }}">Issue new shares</a>
                <a class="collapse-item" href="utilities-border.html">Transfer shares</a>
            </div>
        </div>
    </li>
    
    <!-- Nav Item - shares change Collapse Menu -->
    <li style="font-size:30px" class="nav-item">
        <a class="collapsed" href="#" data-toggle="collapse" data-target="#directorChange"
            aria-expanded="true" aria-controls="directorChange">
            <i class="fas fa-fw fa-wrench"></i>
            <span style="color:gray">Director Change</span>
        </a>
        <div id="directorChange" class="collapse" aria-labelledby="a"
            data-parent="#abc">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item d-flex" href="{{ url_for('fillingForm.home') }}">Remove Director</a>
                <a class="collapse-item" href="utilities-border.html">Add Director</a>
            </div>
        </div>
    </li>
</ul>

</div>


{% endblock %}

</html>