{% extends 'base.html' %}


{% block navBarItem %}

<li class="nav-item">
                <a class="nav-link" href="{{ url_for('fillingForm.NAR1') }}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Fill new form</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{ url_for('fillingForm.add_new_company') }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Add a new company</span></a>
</li>

{% endblock %}


{% block content %}

<h1>Hello {{ name }}</h1>

{% endblock %}