{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Directors Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>Name</th>
						      <th>Email</th>
						      <th>Status</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
                          {% for director in directors %}
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>

						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(images/person_1.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span>{{ director.directorOtherName }} {{ director.directorSurname }}</span>
						      	</div>
						      </td>
						      <td>{{ director.directorEmail }}</td>
						      <td class="status"><span class="active">Active</span></td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>
                                {% endfor %}


						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>


<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Shareholder's information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>Name</th>
						      <th>Email</th>
						      <th>address</th>
						      <th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
                          {% for shareholder in share_holders %}
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(images/person_1.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span>{{ shareholder.name}}</span>
						      		<span>Added: 01/03/2020</span>
						      	</div>
						      </td>
						      <td>{{ shareholder.email}}</td>
						      <td class="status"><span class="active">{{ shareholder.address}}</span></td>
						      <td>
						      	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				            	<span aria-hidden="true"><i class="fa fa-close"></i></span>
				          	</button>
				        	</td>
						    </tr>
                          {% endfor %}

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>



{% endblock %}