{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Directors Information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>Name</th>
						      <th>Email</th>
						      <th>Address</th>
								<th>Edit</th>
						    </tr>
						  </thead>

						  <tbody>

                          {% for director in directors %}
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>

						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(images/person_1.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span>{{ director.directorOtherName }} {{ director.directorSurname }}</span>
						      	</div>
						      </td>
						      <td>{{ director.directorEmail }}</td>
						      <td>{{ director.address1 }} {{ director.address2 }} {{ director.address3 }}</td>
						      <td><a href="{{ url_for('incorporate_new_company.edit_director', director_id=director.id) }}">Edit</a></td>
						    </tr>
                                {% endfor %}


						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>


<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Shareholder's information</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="table-wrap">
						<table class="table table-responsive-xl">
						  <thead>
						    <tr>
						    	<th>&nbsp;</th>
						    	<th>Name</th>
						      	<th>Email</th>
						      	<th>address</th>
								<th>Shares owned</th>
								<th>Edit</th>
						      	<th>&nbsp;</th>
						    </tr>
						  </thead>
						  <tbody>
                          {% for shareholder in share_holders %}
						    <tr class="alert" role="alert">
						    	<td>
						    		<label class="checkbox-wrap checkbox-primary">
										  <input type="checkbox" checked>
										  <span class="checkmark"></span>
										</label>
						    	</td>
						      <td class="d-flex align-items-center">
						      	<div class="img" style="background-image: url(images/person_1.jpg);"></div>
						      	<div class="pl-3 email">
						      		<span>{{ shareholder.name }}</span>
						      	</div>
						      </td>
						      <td>{{ shareholder.email}}</td>
						      <td class="status"><span class="active">{{ shareholder.address}}</span></td>
						      <td>{{ shareholder.totalShares }}</td>
								<td><a href="{{ url_for('incorporate_new_company.edit_shareholder', shareHolder_id=shareholder.id, company_id=company_id) }}">Edit</a></td>
						    </tr>
                          {% endfor %}

						  </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
</section>

{#
<form action="{{ url_for('incorporate_new_company.checkout')}}" method="post">
      <script
        src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_test_51InDYVBV8igYyrszy3m0G9V0GaN4m0gEwDtVgDlhSdk1CAJzRHBB8CMjuvhBZg1L0064PlPslam6wSb4gRK0wBBS00cmUZkpYM"
        data-description="A Flask Charge"
        data-amount="4000.0"
        data-locale="auto">
      </script>
</form>
#}

<a href="#" id="buy_now_btn" class="btn btn-primary">Pay</a>

<script src="https://js.stripe.com/v3/"></script>
<script language="JavaScript">
	const button = document.querySelector('#buy_now_btn');

button.addEventListener('click', event => {
    fetch('/incorporate_new_company/checkout')
    .then((result) => { return result.json(); })
    .then((data) => {
        var stripe = Stripe(data.checkout_public_key);
        stripe.redirectToCheckout({
            // Make the id field from the Checkout Session creation API response
            // available to this file, so you can provide it as parameter here
            // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
            sessionId: data.checkout_session_id
        }).then(function (result) {
            // If `redirectToCheckout` fails due to a browser or network
            // error, display the localized error message to your customer
            // using `result.error.message`.
        });
    })
});
</script>


{% endblock %}