<!DOCTYPE html>
<html>

{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form class="user" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.directorNameInChinese) }}
    {{ wtf.form_field(form.directorNameInEnglish) }}
    {{ wtf.form_field(form.directorEmail) }}
    {{ wtf.form_field(form.hkidCardNumber) }}
    {{ wtf.form_field(form.passportIssuingCountry) }}
    {{ wtf.form_field(form.passportNumber) }}
    {{ wtf.form_field(form.submit) }}


</form>





{% endblock %}

</html>