{% extends 'base.html' %}

{% block content %}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Directos</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Director Chinese Name</th>
                        <th>Director English Name</th>
                        <th>Resign</th>
                        <th>Replace</th>
                        <th>send resignation letter</th>
                    </tr>
                </thead>

                <tfoot>
                    <tr>
                        <th>Director Chinese Name </th>
                        <th>Director English Name</th>
                        <th>Resign</th>
                        <th>Replace</th>
                        <th>send resignation letter</th>
                    </tr>
                </tfoot>

                <tbody>

                {% for director in directors %}
                <tr>
                    <td>{{ director.directorNameInChinese }}</td>
                    <td>{{ director.directorOtherName }} {{director.directorSurname}}</td>
                    <td><a href="{{ url_for('changeDirector.resign', director_id=director.id) }}">Resign</a></td>
                    <td><a href="{{ url_for('changeDirector.remove_director_board_resolution', company_id=company_id, director_id=director.id) }}">Replace</a></td>
                    <td><a href="{{ url_for('changeDirector.remove_director_board_resolution', company_id=company_id, director_id=director.id) }}">Board Resolution</a></td>

                </tr>


                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>






{% endblock %}