{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}


<!-- Begin Page Content -->
<script language="JavaScript">
function hideA()
{

    document.getElementById("corporate").style.display="none";
    document.getElementById("person").style.display="initial";

}

function hideB()
{
    document.getElementById("person").style.display="none";
    document.getElementById("corporate").style.display="initial";

}
</script>

<input type="radio"  name="aorb" onClick="hideB()" value="corporate">Corporate
<input type="radio"  name="aorb" onClick="hideA()" value="natural_person">Natural Person

<div id="corporate">
    <form method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.corporate) }}

        {{ wtf.form_field(form.companyName) }}
        {{ wtf.form_field(form.companyNumber) }}
        {{ wtf.form_field(form.email) }}

        {{ wtf.form_field(form.address1) }}
        {{ wtf.form_field(form.address2) }}
        {{ wtf.form_field(form.address3) }}

     {{ wtf.form_field(form.submit) }}
   </form>

</div>

<div id="person">
    <form method="post">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.naturalPerson) }}

        {{ wtf.form_field(form.nameInChinese) }}
        {{ wtf.form_field(form.englishGivenName) }}
        {{ wtf.form_field(form.englishName) }}
        {{ wtf.form_field(form.previousChineseName) }}
        {{ wtf.form_field(form.previousEnglishName) }}
        {{ wtf.form_field(form.chineseAliasName) }}
        {{ wtf.form_field(form.englishAliasName) }}
        {{ wtf.form_field(form.hkIDcardNumber) }}
        {{ wtf.form_field(form.passportIssuedCountry) }}
        {{ wtf.form_field(form.passportNumber) }}

        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.address1) }}
        {{ wtf.form_field(form.address2) }}
        {{ wtf.form_field(form.address3) }}

       {{ wtf.form_field(form.submit) }}

    </form>

</div>





{% endblock %}

