{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<form method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.nameInChinese) }}
    {{ wtf.form_field(form.englishGivenName) }}
    {{ wtf.form_field(form.englishName) }}
    {{ wtf.form_field(form.previousChineseName) }}
    {{ wtf.form_field(form.previousEnglishName) }}
    {{ wtf.form_field(form.chineseAliasName) }}
    {{ wtf.form_field(form.englishAliasName) }}
    {{ wtf.form_field(form.hkIDcardNumber) }}
    {{ wtf.form_field(form.passportIssuedCountry) }}
    {{ wtf.form_field(form.passportNumber) }}
</form>


{% endblock %}